<%= form_for @post, html: { mulitpart: true } do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
	<div id="attachments">
		<%= f.label :attachments %>
		<small>Optimal image width - 800 pixels</small>
		<%= f.fields_for :attachments do |builder| %>
			<%= render partial: "attachments/fields_for", locals: { f: builder } %>
		<% end %>
	</div>
	<%= link_to_add_fields(raw("Add image <i class='icon-plus-sign'></i>"), f, :attachments) %><br><br>
	
  <fieldset class="field">
    <%= f.label :featured_image %>
	<small>Optimal dimensions 200 X 267 pixels</small>
	<%= image_tag @post.featured_image_url(:mini) if @post.featured_image %>
    <%= f.file_field :featured_image %>
  </fieldset><br>

  <fieldset class="field">
    <%= f.label :tag_list %>
    <%= f.text_field :tag_list, placeholder: Tag.all(&:name).map { |t| t.name }.join(", ") %>
  </fieldset><br>

  <fieldset class="field">
    <%= f.label :keywords, "Meta keywords" %>
    <%= f.text_field :keywords, placeholder: "Comma separated list" %>
  </fieldset><br>

  <fieldset class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </fieldset><br>

  <fieldset class="field">
    <%= f.label :body %>
    <%= f.text_area :body, size: "100x10" %>
  </fieldset><br>

  <fieldset class="actions">
    <%= f.submit "Save", class: "btn btn-success" %>
  </fieldset>
<% end %>
