<% meta_title @post.title %>
<% meta_keywords @post.keywords %>

<div class="center">
	<h2><%= @post.title %></h2>

	<p><%= @post.body %></p>
	
	<p>Tags - <tag><%= display_tags(@post.tags) if @post.tags %></tag></p>
	<small>Published <%= time_ago_in_words(@post.created_at) %> ago</small>
	<hr>

	<% @post.attachments.each do |image| %>
		<%= image_tag image.file %><hr>
	<% end %>

	<% if current_user %>
		<%= link_to 'Edit', edit_post_path(@post) %> |
		<%= link_to 'Dashboard', posts_path %>
	<% end %>
</div>	
