<!DOCTYPE html>
<html>
	<head>
		<%= yield :head %>
		<title><%= meta_title %></title>
		<%= favicon_link_tag "favicon.ico" %>
		<%= favicon_link_tag 'portfolio-apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
		<meta name="description" content="<%= meta_description %>">
		<meta name="keywords" content="<%= meta_keywords %>">
	  	<%= stylesheet_link_tag    "application", media: "all" %>
	  	<%= javascript_include_tag "application", defer: "defer" %>
	  	<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
<body>
	<div class='container'>
		<%= render template: "layouts/header" %>
		<% flash.each do |name, msg| %>
		 	<div class="alert alert-<%= name == :notice ? "success" : "error" %> fade in">
			 	<a class="close" data-dismiss="alert">&#215;</a>
			   	<%= content_tag :div, msg, :id => "flash" if msg.is_a?(String) %>
			</div>
		<% end %>
		<%= yield %>
		<%= render template: "layouts/footer" %>
	</div>
</body>
</html>
