<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
	   	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	   	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	  	<%= yield :head %>
	  	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  	<%= csrf_meta_tags %>
	</head>
<body>
	<div class='container'>
		<%= render template: "layouts/header" %>
		<% flash.each do |name, msg| %>
		 	<div class="alert alert-<%= name == :notice ? "success" : "error" %> fade in">
			 	<a class="close" data-dismiss="alert">&#215;</a>
			   	<%= content_tag :div, msg, :id => "flash" if msg.is_a?(String) %>
			</div>
		<% end %>
		<%= yield %>
	</div>
</body>
</html>
