<footer class="footer">
	<section class="navigation">
		<%= link_to raw("<i class='icon-twitter-sign'></i>"), "https://twitter.com/thebagthief" %>
		<%= link_to raw("<i class='icon-pinterest-sign'></i>"), "http://www.pinterest.com/thebagthief/" %>
		<%= link_to raw("<i class='icon-instagram'></i>"), "http://instagram.com/thebagthief" %>
		<%= link_to "Home", root_path %>
		<%= link_to "Sitemap", sitemap_path %>
		<%= link_to "Dashboard", dashboard_path if current_user %>
	</section>
</footer>