<footer class="footer">
	<section class="navigation">
		<%= link_to raw("<i class='icon-twitter-sign'></i>"), "#" %>
		<%= link_to raw("<i class='icon-pinterest-sign'></i>"), "#" %>
		<%= link_to raw("<i class='icon-instagram'></i>"), "#" %>
		<%= link_to "Home", root_path %>
		<%= link_to "Dashboard", dashboard_path if current_user %>
	</section>
</footer>