<header class="container">
	<h1 class="logo"><%= link_to "Esther Rogers", root_path %></h1>
	<nav class="navigation">
		<%= display_tags(Tag.all) %>
		<%= link_to "About", about_path, class: current(about_path) %>
		<%= link_to "Contact", contact_path, class: current(contact_path) %>
		<%= link_to "Blog", "http://thebagthief.net", target: "_blank" %>
	</nav>
</header>